flows.json
[
    {
        "id": "e27178f4cd43f290",
        "type": "tab",
        "label": "1st Floor Lights",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "791a64d775ed255a",
        "type": "tab",
        "label": "2nd Floor Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0aa97dc7a4bc04f",
        "type": "tab",
        "label": "2nd Floor Desk",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4f8b2fae37c27e7",
        "type": "tab",
        "label": "Breakalert-WLED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a951951f3950191b",
        "type": "tab",
        "label": "Bike Charge 6h",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75390e1f357167f5",
        "type": "tab",
        "label": "Lights 1st Floor - DISABLED",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "c99fac27c004ba2a",
        "type": "tab",
        "label": "Lights 2nd Floor Copy",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3e2bdc26.d4977c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "497313bae368cffb",
        "type": "tab",
        "label": "Anyone home?",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7ea9894b62d00340",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f64a7df3a8ba2723",
        "type": "tab",
        "label": "1st Floor Lights v2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47ad76887e14580c",
        "type": "subflow",
        "name": "PIR Subflow",
        "info": "# PIR\n\nThis subflow addresses a problem with Zigbee PIR sensors which stay inactive when they detect a constant movement.\n\n## Inputs\n\nTest input to inject PIR message for testing purpose.\n\n## Outputs\n\n### Output I\n\nMotion detected.\n\n### Output II\n\nNo motion.\n\n## Parameters\n\nPIR Topic\n",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 260,
                "wires": [
                    {
                        "id": "66bf7050b88a98eb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1420,
                "y": 140,
                "wires": [
                    {
                        "id": "9f3cab9b7b6da2a4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1420,
                "y": 200,
                "wires": [
                    {
                        "id": "9f3cab9b7b6da2a4",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "PIR_TOPIC",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-server",
                    "label": {
                        "en-US": "PIR Topic"
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c36763b8799fc77d",
        "type": "subflow",
        "name": "Set Light Payload",
        "info": "# Set Light Payload\n\nThis subflow check if it is a night time or day time and sets corresponding light settigs.\n\n## Input\nAnything\n\n## Outputs\n\nPayload for light (Ikea bulbs): \n- Output I: night \n- Output II: day",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "d0b2570a590f3591"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 60,
                "wires": [
                    {
                        "id": "4791c481ae59dd95",
                        "port": 0
                    }
                ]
            },
            {
                "x": 680,
                "y": 200,
                "wires": [
                    {
                        "id": "994ef1a0d6652825",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "BRIGHTNESS",
                "type": "num",
                "value": "100",
                "ui": {
                    "icon": "font-awesome/fa-lightbulb-o",
                    "label": {
                        "en-US": "Brightness"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "NIGHT_TIME",
                "type": "str",
                "value": "21:00",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Night Time"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "DAY_TIME",
                "type": "str",
                "value": "06:00",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Day Time"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c8bf62168f8a7f4a",
        "type": "junction",
        "z": "e4f8b2fae37c27e7",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "080e1a673d34b6b7"
            ]
        ]
    },
    {
        "id": "cde780433eb3ddd9",
        "type": "junction",
        "z": "75390e1f357167f5",
        "x": 1540,
        "y": 340,
        "wires": [
            [
                "2082b7eaf7f1a1c9",
                "12b1508bbc8bf0ad"
            ]
        ]
    },
    {
        "id": "66bf7050b88a98eb",
        "type": "junction",
        "z": "47ad76887e14580c",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "b4d4e77d1a06c893",
                "2bd91bd73a58c120"
            ]
        ]
    },
    {
        "id": "c2dff347.6d813",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "3ea2a9db3d9d7fd8",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "192.168.1.142",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cd687a95.00e108",
        "type": "ui_group",
        "name": "WS2812B LED STRIP",
        "tab": "aa146f4d.b53ca",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "aa146f4d.b53ca",
        "type": "ui_tab",
        "name": "Lab",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a30599dce7613846",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d3f4965.cd7b58",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "3ca99660d7292448",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "33977842a9fcae11",
        "type": "ui_group",
        "name": "Timed Charger",
        "tab": "3ca99660d7292448",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b825d13cf529239",
        "type": "ui_group",
        "name": "Light Timers",
        "tab": "bd20fd29a3ae5c51",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd20fd29a3ae5c51",
        "type": "ui_tab",
        "name": "Lights",
        "icon": "wb_incandescent",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9405c3fe.d0a6c",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "7a554823.e94b48",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "2bd91bd73a58c120",
        "type": "switch",
        "z": "47ad76887e14580c",
        "name": "occupancy",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "88144dfaa01a6acb"
            ],
            []
        ]
    },
    {
        "id": "b4d4e77d1a06c893",
        "type": "function",
        "z": "47ad76887e14580c",
        "name": "Flow Config",
        "func": "const occupancy = msg.payload.occupancy;\nconst countdown = 10;\n\nflow.set(\"PIR_SUBFLOW\", {\n    \"occupancy\": occupancy,\n    \"countdown\": countdown,\n    \"lastOutput\" : null\n});",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "0827d6d0fd640808",
        "type": "countdown",
        "z": "47ad76887e14580c",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": true,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "069b9d922c477251"
            ],
            []
        ]
    },
    {
        "id": "069b9d922c477251",
        "type": "function",
        "z": "47ad76887e14580c",
        "name": "Keep ON when occupancy is true",
        "func": "// node.warn(`Message[${JSON.stringify(msg)}]`);\nconst LIGHT_ON = true;\nconst LIGHT_OFF = false;\n\nfunction outputOne(msg) {\n    node.warn(`Output 1[${JSON.stringify(msg)}]`)\n    return [msg, null];\n}\nfunction outputTwo(msg) {\n    node.warn(`Output 2[${JSON.stringify(msg)}]`)\n    return [null, msg];\n}\nconst occupancy = flow.get(\"PIR_SUBFLOW\").occupancy;\nconst countDownValue = flow.get(\"PIR_SUBFLOW\").countdown;\nlet lastOutput = flow.get(\"PIR_SUBFLOW\").lastOutput;\n\nconst isCountingOn = msg.payload;\nconst payloadInfoMsg = isCountingOn ? `Incoming payload[TRUE] light on` : `Incoming payload[FALSE] light off`;\nnode.warn(payloadInfoMsg);\n\n // Timer has stopped but occupancy still true\nif (!isCountingOn && occupancy) {\n    node.warn(`Timer has stopped but occupancy still ${occupancy}`);\n    // topic === 'control' restarts Timer\n    msg.topic = 'control';\n    msg.payload = countDownValue;\n    return outputTwo(msg);\n}\n\nlet currentOutput = isCountingOn ? LIGHT_ON : LIGHT_OFF;\nconst logMsg = `Last output[${lastOutput}] current[${currentOutput}]`;\nif (currentOutput !== lastOutput) {\n    node.warn(logMsg + \" send\");\n    flow.set(\"PIR_SUBFLOW\", {\n        \"occupancy\": occupancy,\n        \"countdown\": countDownValue,\n        \"lastOutput\": currentOutput\n    });\n    return outputOne(msg);\n}\nnode.warn(logMsg + \" don't send\");\nreturn [null,null];\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 180,
        "wires": [
            [
                "9f3cab9b7b6da2a4",
                "84dee3ff53d4f9e9"
            ],
            [
                "0827d6d0fd640808",
                "3e875f166cd02d9b"
            ]
        ]
    },
    {
        "id": "88144dfaa01a6acb",
        "type": "change",
        "z": "47ad76887e14580c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('PIR_SUBFLOW').countdown",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "0827d6d0fd640808"
            ]
        ]
    },
    {
        "id": "715eca580d24d722",
        "type": "debug",
        "z": "47ad76887e14580c",
        "d": true,
        "name": "PIR 1st Floor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "6addff1c97d71ad8",
        "type": "mqtt in",
        "z": "47ad76887e14580c",
        "name": "",
        "topic": "${PIR_TOPIC}",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "2bd91bd73a58c120",
                "b4d4e77d1a06c893",
                "715eca580d24d722"
            ]
        ]
    },
    {
        "id": "9f3cab9b7b6da2a4",
        "type": "switch",
        "z": "47ad76887e14580c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "84dee3ff53d4f9e9",
        "type": "debug",
        "z": "47ad76887e14580c",
        "d": true,
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 60,
        "wires": []
    },
    {
        "id": "3e875f166cd02d9b",
        "type": "debug",
        "z": "47ad76887e14580c",
        "d": true,
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 260,
        "wires": []
    },
    {
        "id": "4791c481ae59dd95",
        "type": "change",
        "z": "c36763b8799fc77d",
        "name": "Set night light",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"state\": \"ON\",\t   \"brightness\": $env('BRIGHTNESS'),\t   \"color_temp\": \"neutral\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "b610ca2f33780bbd"
            ]
        ]
    },
    {
        "id": "994ef1a0d6652825",
        "type": "change",
        "z": "c36763b8799fc77d",
        "name": "Set day light",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"ON\",\"color_temp\":\"neutral\",\"brightness\":254}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "b610ca2f33780bbd"
            ]
        ]
    },
    {
        "id": "d0b2570a590f3591",
        "type": "time-range-switch",
        "z": "c36763b8799fc77d",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "${NIGHT_TIME}",
        "endTime": "${DAY_TIME}",
        "startOffset": 0,
        "endOffset": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "4791c481ae59dd95"
            ],
            [
                "994ef1a0d6652825"
            ]
        ]
    },
    {
        "id": "b610ca2f33780bbd",
        "type": "debug",
        "z": "c36763b8799fc77d",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "1bb91685c2a77021",
        "type": "mqtt out",
        "z": "e27178f4cd43f290",
        "name": "",
        "topic": "zigbee2mqtt/Bulb_Ikea_01/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 2050,
        "y": 80,
        "wires": []
    },
    {
        "id": "cc5fd45989ba160b",
        "type": "mqtt in",
        "z": "e27178f4cd43f290",
        "name": "",
        "topic": "zigbee2mqtt/PIR_SNZB-03_02",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "42263666c813cc9b",
                "bd9a06f6de07de5b",
                "15d831b73e859242"
            ]
        ]
    },
    {
        "id": "42263666c813cc9b",
        "type": "debug",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "PIR 1st Floor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 20,
        "wires": []
    },
    {
        "id": "bd9a06f6de07de5b",
        "type": "switch",
        "z": "e27178f4cd43f290",
        "name": "occupancy",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "e9cc0b86d496ecef",
                "ea50fbe1349359e1",
                "fb0e57e93f47c310"
            ],
            []
        ]
    },
    {
        "id": "02d295ea50993d16",
        "type": "inject",
        "z": "e27178f4cd43f290",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":36,\"occupancy\":true,\"tamper\":false,\"voltage\":3000}",
        "payloadType": "json",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "fb0e57e93f47c310"
            ]
        ]
    },
    {
        "id": "15d831b73e859242",
        "type": "function",
        "z": "e27178f4cd43f290",
        "name": "Flow Config",
        "func": "const occupancy = msg.payload.occupancy;\nflow.set(\"PIR_SNZB-03_02\", {\n    \"occupancy\": occupancy\n});\nflow.set(\"Countdown\", {\n    \"value\": 133\n});\nflow.set(\"Bulb_Ikea_01\", {\n    \"light\": {\n        \"state\": \"ON\",\n        \"brightness\": 254,\n        \"color_temp\": \"neutral\"\n    },\n    \"countdown\" : 133\n});\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "fb0e57e93f47c310",
        "type": "time-range-switch",
        "z": "e27178f4cd43f290",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "21:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "7e429364f49dbdde"
            ],
            [
                "f808bcadec46e197"
            ]
        ]
    },
    {
        "id": "46911587d9e35abd",
        "type": "countdown",
        "z": "e27178f4cd43f290",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": true,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 1330,
        "y": 180,
        "wires": [
            [
                "2ff21443c9701e54"
            ],
            [
                "a983447d76fef958"
            ]
        ]
    },
    {
        "id": "7e429364f49dbdde",
        "type": "change",
        "z": "e27178f4cd43f290",
        "name": "Set night light",
        "rules": [
            {
                "t": "set",
                "p": "Bulb_Ikea_01.light",
                "pt": "flow",
                "to": "{\"state\":\"ON\",\"brightness\":150,\"color_temp\":\"neutral\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "7526e09a35ef8dcb",
                "f808bcadec46e197"
            ]
        ]
    },
    {
        "id": "2ff21443c9701e54",
        "type": "function",
        "z": "e27178f4cd43f290",
        "name": "Keep ON when occupancy is true",
        "func": "node.warn(`Message[${JSON.stringify(msg)}]`);\n\nfunction outputOne(msg) {\n    node.warn(`Output 1`)\n    return [msg, null];\n}\nfunction outputTwo(msg) {\n    node.warn(`Output 2[${JSON.stringify(msg)}]`)\n    return [null, msg];\n}\nconst occupancy = flow.get(\"PIR_SNZB-03_02\").occupancy;\nconst countDownValue = flow.get(\"Bulb_Ikea_01\").countdown;\nconst lightOnPayload = flow.get(\"Bulb_Ikea_01\").light;\nconst lightOffPayload = {\n    state: \"OFF\"\n}\n// node.warn(`Light On: ${JSON.stringify(lightOnPayload)}`);\n\nconst coundownStarted = msg.payload;\n\nif (coundownStarted) {\n    node.warn(`Payload[TRUE] - timer started - light on`);\n} else {\n    node.warn(`Payload[FALSE] - timer started - light off`);\n}\n // Stop timer - light off\nif (!coundownStarted && occupancy) {\n    node.warn(`Lights off but occupancy[${occupancy}]`);\n    // topic === 'control' restarts Timer\n    msg.topic = 'control';\n    msg.payload = countDownValue;\n    return outputTwo(msg);\n}\nmsg.payload = coundownStarted ? lightOnPayload : lightOffPayload;\nreturn outputOne(msg);\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 100,
        "wires": [
            [
                "8524fb42c7b2c64f",
                "1bb91685c2a77021"
            ],
            [
                "46911587d9e35abd",
                "b11b93561b70b83a"
            ]
        ]
    },
    {
        "id": "8524fb42c7b2c64f",
        "type": "debug",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 160,
        "wires": []
    },
    {
        "id": "a983447d76fef958",
        "type": "ui_gauge",
        "z": "e27178f4cd43f290",
        "name": "",
        "group": "3b825d13cf529239",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "I Floor",
        "label": "Seconds",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#fff700",
            "#fff700",
            "#fff700"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1650,
        "y": 280,
        "wires": []
    },
    {
        "id": "b11b93561b70b83a",
        "type": "debug",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 220,
        "wires": []
    },
    {
        "id": "af173a2b2237fc40",
        "type": "inject",
        "z": "e27178f4cd43f290",
        "name": "msg.payload.occupancy",
        "props": [
            {
                "p": "payload.occupancy",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "15d831b73e859242"
            ]
        ]
    },
    {
        "id": "e9cc0b86d496ecef",
        "type": "debug",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$flowContext('Countdown').value",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 560,
        "wires": []
    },
    {
        "id": "f76b37cdf5703c17",
        "type": "inject",
        "z": "e27178f4cd43f290",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":72,\"occupancy\":true,\"tamper\":false,\"voltage\":3000}",
        "payloadType": "json",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "15d831b73e859242",
                "bd9a06f6de07de5b"
            ]
        ]
    },
    {
        "id": "7526e09a35ef8dcb",
        "type": "debug",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "89123277b8294c46",
        "type": "ui_switch",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "3b825d13cf529239",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"state\":\"ON\",\"brightness\":254,\"color_temp\":\"neutral\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"state\":\"OFF\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1430,
        "y": 40,
        "wires": [
            [
                "1bb91685c2a77021"
            ]
        ]
    },
    {
        "id": "3281467c09a1d6b6",
        "type": "switch",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "69cb0fd8590bb25d"
            ],
            [
                "1bb91685c2a77021",
                "79f797fa3c7580fb"
            ]
        ]
    },
    {
        "id": "8eb9c97ee753ad47",
        "type": "ui_switch",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "3b825d13cf529239",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"state\":\"OFF\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 620,
        "wires": [
            [
                "3281467c09a1d6b6"
            ]
        ]
    },
    {
        "id": "79f797fa3c7580fb",
        "type": "change",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 300,
        "wires": [
            [
                "46911587d9e35abd"
            ]
        ]
    },
    {
        "id": "2757627459f78db2",
        "type": "inject",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 610,
        "y": 760,
        "wires": [
            [
                "8eb9c97ee753ad47"
            ]
        ]
    },
    {
        "id": "69cb0fd8590bb25d",
        "type": "delay",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "fb0e57e93f47c310"
            ],
            []
        ]
    },
    {
        "id": "ea50fbe1349359e1",
        "type": "change",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 640,
        "wires": [
            [
                "8eb9c97ee753ad47"
            ]
        ]
    },
    {
        "id": "07ecf00314ac6ae9",
        "type": "ui_button",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "group": "3b825d13cf529239",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "lightbulb_outline",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "fb0e57e93f47c310"
            ]
        ]
    },
    {
        "id": "e6f3cd723d06774d",
        "type": "ui_button",
        "z": "e27178f4cd43f290",
        "d": true,
        "name": "",
        "group": "3b825d13cf529239",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "highlight_off",
        "payload": "{\"state\":\"OFF\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 820,
        "wires": [
            [
                "79f797fa3c7580fb",
                "1bb91685c2a77021"
            ]
        ]
    },
    {
        "id": "f808bcadec46e197",
        "type": "change",
        "z": "e27178f4cd43f290",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('Bulb_Ikea_01').countdown",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 187,
        "wires": [
            [
                "46911587d9e35abd"
            ]
        ]
    },
    {
        "id": "938267a9823b26e3",
        "type": "mqtt out",
        "z": "791a64d775ed255a",
        "name": "",
        "topic": "zigbee2mqtt/Bulb_Ikea_02/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1810,
        "y": 40,
        "wires": []
    },
    {
        "id": "02e629d182f8c4c3",
        "type": "mqtt in",
        "z": "791a64d775ed255a",
        "name": "",
        "topic": "zigbee2mqtt/PIR_SNZB-03_01",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "362d038ac827b883",
                "fbbc812021940c21"
            ]
        ]
    },
    {
        "id": "362d038ac827b883",
        "type": "switch",
        "z": "791a64d775ed255a",
        "name": "occupancy",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "0f4d403b420271dd",
                "82de959111b099ef",
                "31e225d3f6522173"
            ],
            []
        ]
    },
    {
        "id": "fbbc812021940c21",
        "type": "function",
        "z": "791a64d775ed255a",
        "name": "Flow Config",
        "func": "const occupancy = msg.payload.occupancy;\nnode.warn(`Setting PIR_SNZB-03_01 occupancy [${JSON.stringify(msg.payload.occupancy)}]`);\n\nflow.set(\"PIR_SNZB-03_01\", {\n    \"occupancy\": occupancy\n});\n// flow.set(\"Countdown\", {\n//     \"value\": 133\n// });\n\nflow.set(\"Bulb_Ikea_02\", {\n    \"countdown\": 120,\n    \"light\": {\n        \"state\": \"ON\",\n        \"brightness\": 254,\n        \"color_temp\": \"neutral\"\n    }\n});",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "0f4d403b420271dd",
        "type": "time-range-switch",
        "z": "791a64d775ed255a",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "21:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "f6fe1bb053e90c67",
                "530e4dddfb1dfc63"
            ],
            [
                "4b5576650b77081f",
                "7a055e96d3a1923c"
            ]
        ]
    },
    {
        "id": "87ebd91d3f470331",
        "type": "countdown",
        "z": "791a64d775ed255a",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": true,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 1330,
        "y": 140,
        "wires": [
            [
                "cb2a56f60a077606"
            ],
            [
                "cb6ff9ada54dbd35"
            ]
        ]
    },
    {
        "id": "f6fe1bb053e90c67",
        "type": "change",
        "z": "791a64d775ed255a",
        "name": "Set night light",
        "rules": [
            {
                "t": "set",
                "p": "Bulb_Ikea_02.light",
                "pt": "flow",
                "to": "{\"state\":\"ON\",\"brightness\":150,\"color_temp\":\"neutral\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 100,
        "wires": [
            [
                "7a055e96d3a1923c"
            ]
        ]
    },
    {
        "id": "cb2a56f60a077606",
        "type": "function",
        "z": "791a64d775ed255a",
        "name": "Keep ON when occupancy is true",
        "func": "node.warn(`Message[${JSON.stringify(msg)}]`);\n\nfunction outputOne(msg) {\n    node.warn(`Output 1`)\n    return [msg, null];\n}\nfunction outputTwo(msg) {\n    node.warn(`Output 2[${JSON.stringify(msg)}]`)\n    return [null, msg];\n}\nconst occupancy = flow.get(\"PIR_SNZB-03_01\").occupancy;\nconst countDownValue = flow.get(\"Bulb_Ikea_02\").countdown;\nconst lightOnPayload = flow.get(\"Bulb_Ikea_02\").light;\nconst lightOffPayload = {\n    state: \"OFF\"\n}\n// node.warn(`Light On: ${JSON.stringify(lightOnPayload)}`);\n\nconst coundownStarted = msg.payload;\n\nif (coundownStarted) {\n    node.warn(`Payload[TRUE] - timer started - light on`);\n} else {\n    node.warn(`Payload[FALSE] - timer stoppped - light off`);\n}\n // Stop timer - light off\nif (!coundownStarted && occupancy) {\n    node.warn(`Lights off but occupancy[${occupancy}]`);\n    // topic === 'control' restarts Timer\n    msg.topic = 'control';\n    msg.payload = countDownValue;\n    return outputTwo(msg);\n}\nmsg.payload = coundownStarted ? lightOnPayload : lightOffPayload;\nreturn outputOne(msg);\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 60,
        "wires": [
            [
                "938267a9823b26e3"
            ],
            [
                "87ebd91d3f470331"
            ]
        ]
    },
    {
        "id": "cb6ff9ada54dbd35",
        "type": "ui_gauge",
        "z": "791a64d775ed255a",
        "name": "",
        "group": "3b825d13cf529239",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "II Floor ",
        "label": "Seconds",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#fff700",
            "#fff700",
            "#fff700"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1530,
        "y": 200,
        "wires": []
    },
    {
        "id": "7a055e96d3a1923c",
        "type": "change",
        "z": "791a64d775ed255a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('Bulb_Ikea_02').countdown",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 147,
        "wires": [
            [
                "87ebd91d3f470331",
                "7734a53de8f8f515",
                "6ddb100fc9cede6f"
            ]
        ]
    },
    {
        "id": "0703df022074d667",
        "type": "mqtt in",
        "z": "791a64d775ed255a",
        "name": "",
        "topic": "zigbee2mqtt/PIR_Aqara_01",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "bd241d8822a5f23a",
                "35bd3fc41fca7126"
            ]
        ]
    },
    {
        "id": "bd241d8822a5f23a",
        "type": "function",
        "z": "791a64d775ed255a",
        "name": "Flow Config",
        "func": "const lux = msg.payload.illuminance_lux;\n//flow.set(\"isDark\", lux < 200 ? 1 : 0); //mytodo remove\n\nconst occupancy = msg.payload.occupancy;\nflow.set(\"PIR_Aqara_01\", {\n    \"occupancy\": occupancy,\n    \"isDark\": lux < 200\n});\n// flow.set(\"Countdown\", {\n//     \"value\": 133\n// });\n\nflow.set(\"RELAY_BASICZBR3\", {\n    \"countdown\": 600\n});",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "35bd3fc41fca7126",
        "type": "switch",
        "z": "791a64d775ed255a",
        "name": "occupancy",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "3d9c1f860675bcc2",
                "29b307a140e84a49",
                "82de959111b099ef",
                "31e225d3f6522173"
            ],
            [
                "29b307a140e84a49"
            ]
        ]
    },
    {
        "id": "3d9c1f860675bcc2",
        "type": "time-range-switch",
        "z": "791a64d775ed255a",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "21:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "f6fe1bb053e90c67",
                "530e4dddfb1dfc63"
            ],
            [
                "c61e33382e9c8d84",
                "4b5576650b77081f"
            ]
        ]
    },
    {
        "id": "c61e33382e9c8d84",
        "type": "switch",
        "z": "791a64d775ed255a",
        "name": "flow.isDark?",
        "property": "PIR_Aqara_01.isDark",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "35e91d728aa98399"
            ],
            []
        ]
    },
    {
        "id": "3aaead6100c3835d",
        "type": "countdown",
        "z": "791a64d775ed255a",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": true,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 1510,
        "y": 520,
        "wires": [
            [
                "a505ae904f09578b"
            ],
            [
                "c72714565c399a6d"
            ]
        ]
    },
    {
        "id": "a505ae904f09578b",
        "type": "function",
        "z": "791a64d775ed255a",
        "name": "Keep Ceiling ON when occupancy is true",
        "func": "node.warn(`Message[${JSON.stringify(msg)}]`);\n\nfunction outputOne(msg) {\n    node.warn(`Output 1`)\n    return [msg, null];\n}\nfunction outputTwo(msg) {\n    node.warn(`Output 2[${JSON.stringify(msg)}]`)\n    return [null, msg];\n}\nconst occupancy = flow.get(\"PIR_Aqara_01\").occupancy;\nconst countDownValue = flow.get(\"RELAY_BASICZBR3\").countdown;\n\nconst lightOnPayload = {\n    state: \"ON\"\n};\nconst lightOffPayload = {\n    state: \"OFF\"\n};\n// node.warn(`Light On: ${JSON.stringify(lightOnPayload)}`);\n\nconst coundownStarted = msg.payload;\n\nif (coundownStarted) {\n    node.warn(`Payload[TRUE] - timer started - light on`);\n} else {\n    node.warn(`Payload[FALSE] - timer stopped - light off`);\n}\n // Stop timer - light off\nif (!coundownStarted && occupancy) {\n    node.warn(`Lights off but occupancy[${occupancy}]`);\n    // topic === 'control' restarts Timer\n    msg.topic = 'control';\n    msg.payload = countDownValue;\n    return outputTwo(msg);\n}\nmsg.payload = coundownStarted ? lightOnPayload : lightOffPayload;\nreturn outputOne(msg);\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 440,
        "wires": [
            [
                "0501d9fe26dbaaf7"
            ],
            [
                "3aaead6100c3835d"
            ]
        ]
    },
    {
        "id": "c72714565c399a6d",
        "type": "ui_gauge",
        "z": "791a64d775ed255a",
        "name": "",
        "group": "3b825d13cf529239",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "II Floor Ceiling",
        "label": "Seconds",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#fff700",
            "#fff700",
            "#fff700"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1740,
        "y": 560,
        "wires": []
    },
    {
        "id": "35e91d728aa98399",
        "type": "change",
        "z": "791a64d775ed255a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('RELAY_BASICZBR3').countdown",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 520,
        "wires": [
            [
                "3aaead6100c3835d"
            ]
        ]
    },
    {
        "id": "0501d9fe26dbaaf7",
        "type": "mqtt out",
        "z": "791a64d775ed255a",
        "name": "Kids Room Ceiling Light",
        "topic": "zigbee2mqtt/RELAY_BASICZBR3/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1990,
        "y": 420,
        "wires": []
    },
    {
        "id": "375b150df45ec509",
        "type": "ui_text",
        "z": "791a64d775ed255a",
        "group": "3b825d13cf529239",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kids room is",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1130,
        "y": 720,
        "wires": []
    },
    {
        "id": "9fbb79cc18a58ed4",
        "type": "change",
        "z": "791a64d775ed255a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Dark",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 700,
        "wires": [
            [
                "375b150df45ec509"
            ]
        ]
    },
    {
        "id": "848168a394dc965e",
        "type": "change",
        "z": "791a64d775ed255a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bright",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 740,
        "wires": [
            [
                "375b150df45ec509"
            ]
        ]
    },
    {
        "id": "29b307a140e84a49",
        "type": "switch",
        "z": "791a64d775ed255a",
        "name": "flow.isDark?",
        "property": "PIR_Aqara_01.isDark",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 720,
        "wires": [
            [
                "9fbb79cc18a58ed4"
            ],
            [
                "848168a394dc965e"
            ]
        ]
    },
    {
        "id": "7cf903c5fc29e470",
        "type": "ui_text",
        "z": "791a64d775ed255a",
        "group": "3b825d13cf529239",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light mode",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1210,
        "y": 320,
        "wires": []
    },
    {
        "id": "530e4dddfb1dfc63",
        "type": "change",
        "z": "791a64d775ed255a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 300,
        "wires": [
            [
                "7cf903c5fc29e470"
            ]
        ]
    },
    {
        "id": "4b5576650b77081f",
        "type": "change",
        "z": "791a64d775ed255a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Day",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "7cf903c5fc29e470"
            ]
        ]
    },
    {
        "id": "7734a53de8f8f515",
        "type": "debug",
        "z": "791a64d775ed255a",
        "name": "debug: read flow variable",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$flowContext('Bulb_Ikea_02')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 280,
        "wires": []
    },
    {
        "id": "82de959111b099ef",
        "type": "link out",
        "z": "791a64d775ed255a",
        "name": "Desk Light Flow Out",
        "mode": "link",
        "links": [
            "4d624a9f70e21a4a"
        ],
        "x": 620,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "6ddb100fc9cede6f",
        "type": "debug",
        "z": "791a64d775ed255a",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 240,
        "wires": []
    },
    {
        "id": "31e225d3f6522173",
        "type": "debug",
        "z": "791a64d775ed255a",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "5eeaeadc149423bc",
        "type": "mqtt in",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "topic": "stat/sonoff_smartswitch01/POWER",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "a5fd26798ff9c12b",
                "899ef4885df9228d",
                "a93e969861efdfd7"
            ]
        ]
    },
    {
        "id": "a5fd26798ff9c12b",
        "type": "function",
        "z": "d0aa97dc7a4bc04f",
        "name": "Set Power Status",
        "func": "const flowVar = 'sonoff_smartswitch01';\nnode.warn(msg.payload);\nconst flowVarValue = {\n    \"countdown\": 1200,\n    \"power\" : false\n};\nif (msg.payload === 'ON') {\n    flowVarValue.power = true;    \n} else if (msg.payload === 'OFF') {\n    flowVarValue.power = false;\n} else {\n    node.error('Wrong payload [' + msg.payload + ']');\n}\n\nflow.set(flowVar, flowVarValue);    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "93f268e7434eb664"
            ]
        ]
    },
    {
        "id": "899ef4885df9228d",
        "type": "switch",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "cdedb8407df6a1a2",
                "5c9878eabd4c310b"
            ]
        ]
    },
    {
        "id": "63b67a8acad68805",
        "type": "countdown",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": true,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "3d1394898519cf83",
                "fe4cec219c5a9651"
            ],
            [
                "10a54fb60419bd40"
            ]
        ]
    },
    {
        "id": "cdedb8407df6a1a2",
        "type": "change",
        "z": "d0aa97dc7a4bc04f",
        "name": "Set countdown",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext('sonoff_smartswitch01').countdown",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "63b67a8acad68805",
                "b574ab319e779ad5"
            ]
        ]
    },
    {
        "id": "f6c58177cb2de852",
        "type": "switch",
        "z": "d0aa97dc7a4bc04f",
        "name": "is Power On",
        "property": "$flowContext('sonoff_smartswitch01').power",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "cdedb8407df6a1a2",
                "c486e291b586863d"
            ]
        ]
    },
    {
        "id": "10a54fb60419bd40",
        "type": "ui_gauge",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "group": "3b825d13cf529239",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kid's Desk",
        "label": "Seconds",
        "format": "{{value}}",
        "min": 0,
        "max": "600",
        "colors": [
            "#fff700",
            "#fff700",
            "#fff700"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1190,
        "y": 240,
        "wires": []
    },
    {
        "id": "601af3158afde027",
        "type": "change",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 180,
        "wires": [
            [
                "f54a405a03b79072",
                "7a187efca8926dd0"
            ]
        ]
    },
    {
        "id": "f54a405a03b79072",
        "type": "mqtt out",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "topic": "cmnd/sonoff_smartswitch01/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1690,
        "y": 180,
        "wires": []
    },
    {
        "id": "3d1394898519cf83",
        "type": "switch",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 180,
        "wires": [
            [
                "601af3158afde027",
                "a013859d0e59166e"
            ]
        ]
    },
    {
        "id": "93f268e7434eb664",
        "type": "debug",
        "z": "d0aa97dc7a4bc04f",
        "d": true,
        "name": "debug read flow var: sonoff_smartswitch01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$flowContext('sonoff_smartswitch01')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "4d624a9f70e21a4a",
        "type": "link in",
        "z": "d0aa97dc7a4bc04f",
        "name": "Desk Light Flow In",
        "links": [
            "82de959111b099ef"
        ],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "f6c58177cb2de852"
            ]
        ],
        "l": true
    },
    {
        "id": "5c9878eabd4c310b",
        "type": "debug",
        "z": "d0aa97dc7a4bc04f",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "fe4cec219c5a9651",
        "type": "debug",
        "z": "d0aa97dc7a4bc04f",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "a013859d0e59166e",
        "type": "debug",
        "z": "d0aa97dc7a4bc04f",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "7a187efca8926dd0",
        "type": "debug",
        "z": "d0aa97dc7a4bc04f",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 120,
        "wires": []
    },
    {
        "id": "c486e291b586863d",
        "type": "debug",
        "z": "d0aa97dc7a4bc04f",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "b574ab319e779ad5",
        "type": "debug",
        "z": "d0aa97dc7a4bc04f",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac516658d7f335b0",
        "type": "file",
        "z": "d0aa97dc7a4bc04f",
        "name": "",
        "filename": "/share/smartswitch.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 700,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a93e969861efdfd7",
        "type": "function",
        "z": "d0aa97dc7a4bc04f",
        "name": "Add timestamp to payload",
        "func": "const datetime = new Date().toLocaleString();\nmsg.payload = `[${datetime}] ${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "ac516658d7f335b0"
            ]
        ]
    },
    {
        "id": "67b5cb9f6bbf5d07",
        "type": "mqtt in",
        "z": "e4f8b2fae37c27e7",
        "d": true,
        "name": "breakreminder",
        "topic": "sensors/breakalert/state",
        "qos": "2",
        "datatype": "utf8",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "116e9277f4632943",
                "c8bf62168f8a7f4a",
                "a7b07ecd705c3f6c"
            ]
        ]
    },
    {
        "id": "8c78622369b5fd88",
        "type": "inject",
        "z": "e4f8b2fae37c27e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "WorkState",
        "payloadType": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "c8bf62168f8a7f4a",
                "a7b07ecd705c3f6c"
            ]
        ]
    },
    {
        "id": "a7b07ecd705c3f6c",
        "type": "switch",
        "z": "e4f8b2fae37c27e7",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "WorkState",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "IdleState",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RestState",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AlertState",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "ebc7c4fdbae32e13"
            ],
            [
                "aa87281b1e3f1678"
            ],
            [
                "a6405aa981d042ba"
            ],
            [
                "debe916bc49ff3c7"
            ]
        ]
    },
    {
        "id": "47173a99ced855ba",
        "type": "inject",
        "z": "e4f8b2fae37c27e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IdleState",
        "payloadType": "str",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "c8bf62168f8a7f4a",
                "a7b07ecd705c3f6c"
            ]
        ]
    },
    {
        "id": "8229da39a06d6558",
        "type": "inject",
        "z": "e4f8b2fae37c27e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "RestState",
        "payloadType": "str",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "c8bf62168f8a7f4a",
                "a7b07ecd705c3f6c"
            ]
        ]
    },
    {
        "id": "ebc7c4fdbae32e13",
        "type": "change",
        "z": "e4f8b2fae37c27e7",
        "name": "WLED OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "dac0b97259befddd",
                "6c92865f3176c2fd"
            ]
        ]
    },
    {
        "id": "a6405aa981d042ba",
        "type": "change",
        "z": "e4f8b2fae37c27e7",
        "name": "WLED Rest",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":true,\"ps\":4}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "dac0b97259befddd",
                "6c92865f3176c2fd"
            ]
        ]
    },
    {
        "id": "aa87281b1e3f1678",
        "type": "change",
        "z": "e4f8b2fae37c27e7",
        "name": "WLED Idle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 320,
        "wires": [
            [
                "dac0b97259befddd",
                "6c92865f3176c2fd"
            ]
        ]
    },
    {
        "id": "dac0b97259befddd",
        "type": "mqtt out",
        "z": "e4f8b2fae37c27e7",
        "name": "WLED MQTT API",
        "topic": "wled/1m/api",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "9c771518a6333fdb",
        "type": "inject",
        "z": "e4f8b2fae37c27e7",
        "name": "AlertState",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AlertState",
        "payloadType": "str",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "c8bf62168f8a7f4a",
                "a7b07ecd705c3f6c"
            ]
        ]
    },
    {
        "id": "debe916bc49ff3c7",
        "type": "change",
        "z": "e4f8b2fae37c27e7",
        "name": "WLED Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":true,\"ps\":5}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "dac0b97259befddd",
                "6c92865f3176c2fd"
            ]
        ]
    },
    {
        "id": "b44cb91c6fa29652",
        "type": "http request",
        "z": "e4f8b2fae37c27e7",
        "d": true,
        "name": "WLED Request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.42/json/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1440,
        "y": 280,
        "wires": [
            [
                "830eac17bf400746"
            ]
        ]
    },
    {
        "id": "116e9277f4632943",
        "type": "debug",
        "z": "e4f8b2fae37c27e7",
        "name": "breakreminder debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "6c92865f3176c2fd",
        "type": "debug",
        "z": "e4f8b2fae37c27e7",
        "name": "Message to wled mqtt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 140,
        "wires": []
    },
    {
        "id": "080e1a673d34b6b7",
        "type": "function",
        "z": "e4f8b2fae37c27e7",
        "name": "LightController",
        "func": "node.warn(msg);\n\nconst dict = new Map();\ndict.set(\"IdleState\", { on: true, ps: 3 });\ndict.set(\"WorkState\", { on: false });\ndict.set(\"OvertimeState\", { on: true, ps: 9 });\ndict.set(\"AlertState\", { on: true, ps: 5 });\ndict.set(\"RestState\", { on: true, ps: 4 });\ndict.set(\"Unknown\", { on: false });\n\nconst state = msg.payload;\nif (dict.has(state)) {\n  node.warn(`Return[${JSON.stringify(dict.get(state))}]`)\n  msg.payload = dict.get(state);\n} else {\n    dict.error(\"Unknown state.\", msg);\n    node.warn(`Return[${JSON.stringify(dict.get('Unknown'))}]`)\n    msg.payload = dict.get(\"Unknown\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 620,
        "wires": [
            [
                "7d713dcac80b08fc",
                "dac0b97259befddd"
            ]
        ]
    },
    {
        "id": "7d713dcac80b08fc",
        "type": "debug",
        "z": "e4f8b2fae37c27e7",
        "name": "Fun output",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "830eac17bf400746",
        "type": "debug",
        "z": "e4f8b2fae37c27e7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a74838287dfd4a1",
        "type": "inject",
        "z": "e4f8b2fae37c27e7",
        "name": "Turn off WLED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "ebc7c4fdbae32e13"
            ]
        ]
    },
    {
        "id": "eb836f8d7d24647b",
        "type": "inject",
        "z": "a951951f3950191b",
        "name": "Start Charging",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "0165e4c506c5f8b3"
            ]
        ]
    },
    {
        "id": "a924e2004e52db99",
        "type": "mqtt out",
        "z": "a951951f3950191b",
        "name": "Science Room Desk Light",
        "topic": "cmnd/sonoff_smartswitch01/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1110,
        "y": 540,
        "wires": []
    },
    {
        "id": "17824bafcf935e65",
        "type": "ui_slider",
        "z": "a951951f3950191b",
        "name": "",
        "label": "Time in minutes",
        "tooltip": "",
        "group": "33977842a9fcae11",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "360",
        "step": "10",
        "className": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "341eeb70e35c9979",
                "54e8211adc2b744b",
                "bbc64b66fdf0eb28"
            ]
        ]
    },
    {
        "id": "bc09f263cb3ce00c",
        "type": "debug",
        "z": "a951951f3950191b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "565221230794ce29",
        "type": "debug",
        "z": "a951951f3950191b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$flowContext('delay')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ac3677b3e3ecefa",
        "type": "ui_button",
        "z": "a951951f3950191b",
        "name": "",
        "group": "33977842a9fcae11",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start charger",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "delay",
        "payloadType": "flow",
        "topic": "payload",
        "topicType": "msg",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "f19e14306523e7ab",
                "cf831b8f1b62b385",
                "389611d48acb17b2",
                "1b8698c2cd35483b"
            ]
        ]
    },
    {
        "id": "0e63b5567ccef6e6",
        "type": "countdown",
        "z": "a951951f3950191b",
        "name": "",
        "topic": "",
        "payloadTimerStart": "ON",
        "payloadTimerStartType": "str",
        "payloadTimerStop": "OFF",
        "payloadTimerStopType": "str",
        "timer": "8",
        "resetWhileRunning": true,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 510,
        "y": 600,
        "wires": [
            [
                "bc09f263cb3ce00c",
                "a924e2004e52db99"
            ],
            [
                "3c541276e5c10623",
                "949be46a30bcd788"
            ]
        ]
    },
    {
        "id": "3c541276e5c10623",
        "type": "debug",
        "z": "a951951f3950191b",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "f19e14306523e7ab",
        "type": "debug",
        "z": "a951951f3950191b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 1000,
        "wires": []
    },
    {
        "id": "cf831b8f1b62b385",
        "type": "change",
        "z": "a951951f3950191b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "0e63b5567ccef6e6",
                "322eda184e20a487",
                "36979692c0c93a67"
            ]
        ]
    },
    {
        "id": "23af34a4f83f74ed",
        "type": "ui_gauge",
        "z": "a951951f3950191b",
        "name": "",
        "group": "33977842a9fcae11",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Remaining Time",
        "label": "Minutes",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#00b400",
            "#00b400"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 980,
        "y": 700,
        "wires": []
    },
    {
        "id": "0165e4c506c5f8b3",
        "type": "trigger",
        "z": "a951951f3950191b",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "6",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "a924e2004e52db99",
                "bc09f263cb3ce00c"
            ]
        ]
    },
    {
        "id": "1b8698c2cd35483b",
        "type": "ui_switch",
        "z": "a951951f3950191b",
        "name": "",
        "label": "Charger Power",
        "tooltip": "",
        "group": "33977842a9fcae11",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "delay",
        "onvalueType": "flow",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "f19e14306523e7ab",
                "cf831b8f1b62b385",
                "389611d48acb17b2",
                "0e63b5567ccef6e6"
            ]
        ]
    },
    {
        "id": "389611d48acb17b2",
        "type": "debug",
        "z": "a951951f3950191b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 800,
        "wires": []
    },
    {
        "id": "322eda184e20a487",
        "type": "debug",
        "z": "a951951f3950191b",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "36979692c0c93a67",
        "type": "debug",
        "z": "a951951f3950191b",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "8cb8f483f6e540ef",
        "type": "inject",
        "z": "a951951f3950191b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "false",
        "payloadType": "bool",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "0e63b5567ccef6e6",
                "389611d48acb17b2",
                "f19e14306523e7ab"
            ]
        ]
    },
    {
        "id": "341eeb70e35c9979",
        "type": "function",
        "z": "a951951f3950191b",
        "name": "Set flow.delay",
        "func": "const flowVarName = 'delay';\nnode.warn(msg.payload);\nconst flowVarValue = msg.payload * 60;\nflow.set(flowVarName, flowVarValue);\nnode.warn('Delay set[' + flow.get(flowVarName) + ']');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "565221230794ce29"
            ]
        ]
    },
    {
        "id": "54e8211adc2b744b",
        "type": "debug",
        "z": "a951951f3950191b",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "bbc64b66fdf0eb28",
        "type": "change",
        "z": "a951951f3950191b",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload*60",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "565221230794ce29"
            ]
        ]
    },
    {
        "id": "949be46a30bcd788",
        "type": "function",
        "z": "a951951f3950191b",
        "name": "Divind and Round value",
        "func": "msg.payload = Math.ceil(msg.payload / 60);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 680,
        "wires": [
            [
                "23af34a4f83f74ed"
            ]
        ]
    },
    {
        "id": "12b1508bbc8bf0ad",
        "type": "debug",
        "z": "75390e1f357167f5",
        "name": "Bulb 01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 300,
        "wires": []
    },
    {
        "id": "2082b7eaf7f1a1c9",
        "type": "mqtt out",
        "z": "75390e1f357167f5",
        "name": "",
        "topic": "zigbee2mqtt/Bulb_Ikea_01/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1950,
        "y": 360,
        "wires": []
    },
    {
        "id": "facbcefb5191c240",
        "type": "mqtt in",
        "z": "75390e1f357167f5",
        "d": true,
        "name": "",
        "topic": "zigbee2mqtt/PIR_SNZB-03_02",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "f10412c80173664c",
                "5501dafe4d5aa056",
                "84bcac972dfbf17c"
            ]
        ]
    },
    {
        "id": "f10412c80173664c",
        "type": "debug",
        "z": "75390e1f357167f5",
        "name": "PIR 1st Floor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "5501dafe4d5aa056",
        "type": "switch",
        "z": "75390e1f357167f5",
        "d": true,
        "name": "occupancy",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "18f5e810aa3af9e1"
            ],
            []
        ]
    },
    {
        "id": "bcf23282a0498c9e",
        "type": "trigger",
        "z": "75390e1f357167f5",
        "name": "",
        "op1": "{\"state\":\"ON\",\"brightness\":130,\"color_temp\":\"neutral\"}",
        "op2": "{\"state\":\"OFF\"}",
        "op1type": "json",
        "op2type": "json",
        "duration": "120",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "be20a026d5e711d7",
                "5db2a3ce85ab3d23"
            ]
        ]
    },
    {
        "id": "18f5e810aa3af9e1",
        "type": "time-range-switch",
        "z": "75390e1f357167f5",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "21:00",
        "endTime": "06:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "bcf23282a0498c9e"
            ],
            [
                "e1e1ce91804dd87e"
            ]
        ]
    },
    {
        "id": "e1e1ce91804dd87e",
        "type": "trigger",
        "z": "75390e1f357167f5",
        "name": "",
        "op1": "{\"state\":\"ON\",\"brightness\":254,\"color_temp\":\"neutral\"}",
        "op2": "{\"state\": \"OFF\"}",
        "op1type": "json",
        "op2type": "json",
        "duration": "120",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "6550824d5021a0e6",
                "5db2a3ce85ab3d23"
            ]
        ]
    },
    {
        "id": "6550824d5021a0e6",
        "type": "function",
        "z": "75390e1f357167f5",
        "name": "Keep ON when occupancy is true [Day]",
        "func": "node.warn(`Message[${JSON.stringify(msg)}]`);\n\nfunction outputOne(msg) {\n    node.warn(`Output 1`)\n    return [msg, null];\n}\nfunction outputTwo(msg) {\n    node.warn(`Output 2`)\n    return [null, msg];\n}\n\nconst occupancy = flow.get(\"PIR_SNZB-03_02\").occupancy;\n\nconst state = msg.payload.state;\nif (!state) {\n    node.warn(`WEIRD state[${state}] and occupancy[${occupancy}] msq[${JSON.stringify(msg)}]`);\n}\n\nif (occupancy === undefined) {\n    node.warn(`WEIRD state[${state}] and occupancy[${occupancy}] msq[${JSON.stringify(msg)}]`);\n}\n\n// node.warn(`Payload [${JSON.stringify(msg.payload)}]`);\n// node.warn(`Payload keys[${Object.keys(msg.payload)}]`);\n// node.warn(`Payload state[${msg.payload.state}]`);\nconst payload = msg.payload;\nif (payload) {\n    const state = payload.state;\n    if (occupancy && state === \"OFF\") {\n        return outputTwo(msg);    \n    }\n} else {\n    node.error(`WEIRD: Invalid payload msg[${JSON.stringify(msg)}]`);\n}\nreturn outputOne(msg);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "cde780433eb3ddd9"
            ],
            [
                "e1e1ce91804dd87e",
                "b44df9a9a6032122"
            ]
        ]
    },
    {
        "id": "393d244b2eb883ba",
        "type": "inject",
        "z": "75390e1f357167f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":36,\"occupancy\":true,\"tamper\":false,\"voltage\":3000}",
        "payloadType": "json",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "5501dafe4d5aa056"
            ]
        ]
    },
    {
        "id": "84bcac972dfbf17c",
        "type": "function",
        "z": "75390e1f357167f5",
        "name": "Set flow: PIR_SNZB-03_02.occupancy",
        "func": "const occupancy = msg.payload.occupancy;\nflow.set(\"PIR_SNZB-03_02\", {\n    \"occupancy\": occupancy\n});\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "5db2a3ce85ab3d23",
        "type": "debug",
        "z": "75390e1f357167f5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 340,
        "wires": []
    },
    {
        "id": "be20a026d5e711d7",
        "type": "function",
        "z": "75390e1f357167f5",
        "name": "Keep ON when occupancy is true [Night]",
        "func": "node.warn(`Message[${JSON.stringify(msg)}]`);\n\nfunction outputOne(msg) {\n    node.warn(`Output 1`)\n    return [msg, null];\n}\nfunction outputTwo(msg) {\n    node.warn(`Output 2`)\n    return [null, msg];\n}\n\nconst occupancy = flow.get(\"PIR_SNZB-03_02\").occupancy;\n\nconst state = msg.payload.state;\nif (!state) {\n    node.warn(`WEIRD state[${state}] and occupancy[${occupancy}] msq[${JSON.stringify(msg)}]`);\n}\n\nif (occupancy === undefined) {\n    node.warn(`WEIRD state[${state}] and occupancy[${occupancy}] msq[${JSON.stringify(msg)}]`);\n}\n\n// node.warn(`Payload [${JSON.stringify(msg.payload)}]`);\n// node.warn(`Payload keys[${Object.keys(msg.payload)}]`);\n// node.warn(`Payload state[${msg.payload.state}]`);\nconst payload = msg.payload;\nif (payload) {\n    const state = payload.state;\n    if (occupancy && state === \"OFF\") {\n        return outputTwo(msg);    \n    }\n} else {\n    node.error(`WEIRD: Invalid payload msg[${JSON.stringify(msg)}]`);\n}\nreturn outputOne(msg);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 200,
        "wires": [
            [
                "cde780433eb3ddd9"
            ],
            [
                "bcf23282a0498c9e",
                "b44df9a9a6032122"
            ]
        ]
    },
    {
        "id": "b44df9a9a6032122",
        "type": "debug",
        "z": "75390e1f357167f5",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd08e6387eb6b0b6",
        "type": "inject",
        "z": "75390e1f357167f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"ON\",\"brightness\":254,\"color_temp\":\"neutral\"}",
        "payloadType": "json",
        "x": 850,
        "y": 620,
        "wires": [
            [
                "6550824d5021a0e6"
            ]
        ]
    },
    {
        "id": "3fc2dc9f9e6c8b6c",
        "type": "mqtt in",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "",
        "topic": "zigbee2mqtt/PIR_SNZB-03_01",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "d339a9e51f27d5a0",
                "381edff7f5177496"
            ]
        ]
    },
    {
        "id": "d339a9e51f27d5a0",
        "type": "switch",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "Motion detected?",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "3c07e0feb497141d",
                "b8a387d26d31ebf3",
                "a57b114108a4e015"
            ],
            [
                "cdec4f6fb4f25e84"
            ]
        ]
    },
    {
        "id": "cdec4f6fb4f25e84",
        "type": "change",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "WLED OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 400,
        "wires": [
            [
                "99bf1e85a9c7c05d"
            ]
        ]
    },
    {
        "id": "3c07e0feb497141d",
        "type": "change",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "WLED On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":true,\"ps\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "99bf1e85a9c7c05d",
                "d94c2121a758f7c8"
            ]
        ]
    },
    {
        "id": "99bf1e85a9c7c05d",
        "type": "mqtt out",
        "z": "c99fac27c004ba2a",
        "name": "WLED MQTT API",
        "topic": "light/wled/api",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1710,
        "y": 360,
        "wires": []
    },
    {
        "id": "b8a387d26d31ebf3",
        "type": "trigger",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "",
        "op1": "{\"on\":true,\"ps\":1}",
        "op2": "{\"on\":false}",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "cdec4f6fb4f25e84",
                "33d5a44dedefb194",
                "99bf1e85a9c7c05d"
            ]
        ]
    },
    {
        "id": "33d5a44dedefb194",
        "type": "debug",
        "z": "c99fac27c004ba2a",
        "name": "Debug1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 60,
        "wires": []
    },
    {
        "id": "d94c2121a758f7c8",
        "type": "debug",
        "z": "c99fac27c004ba2a",
        "name": "Debug wled on",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "a57b114108a4e015",
        "type": "debug",
        "z": "c99fac27c004ba2a",
        "name": "Debug Motion Detected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.occupancy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "381edff7f5177496",
        "type": "debug",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "SNZB-03_01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.occupancy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "4f4441b823fe250b",
        "type": "inject",
        "z": "c99fac27c004ba2a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"device_temperature\":23,\"illuminance\":212,\"illuminance_lux\":212,\"linkquality\":15,\"occupancy\":true,\"power_outage_count\":7,\"voltage\":3205}",
        "payloadType": "json",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "d339a9e51f27d5a0",
                "733cb852b36322d3"
            ]
        ]
    },
    {
        "id": "2e676e6be31bd4b0",
        "type": "debug",
        "z": "c99fac27c004ba2a",
        "name": "isDark?",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "6e8ab210b765a978",
        "type": "mqtt in",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "",
        "topic": "zigbee2mqtt/PIR_Aqara_01",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "733cb852b36322d3",
                "93516902a9710e4b"
            ]
        ]
    },
    {
        "id": "733cb852b36322d3",
        "type": "debug",
        "z": "c99fac27c004ba2a",
        "name": "PIR_Aqara_01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.occupancy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "93516902a9710e4b",
        "type": "switch",
        "z": "c99fac27c004ba2a",
        "d": true,
        "name": "Motion detected?",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "0a0ae8e5101dd79d"
            ],
            []
        ]
    },
    {
        "id": "0a0ae8e5101dd79d",
        "type": "switch",
        "z": "c99fac27c004ba2a",
        "name": "isDark?",
        "property": "payload.illuminance_lux",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 660,
        "wires": [
            [
                "2e676e6be31bd4b0"
            ]
        ]
    },
    {
        "id": "8bd44a70b7f53b78",
        "type": "inject",
        "z": "c99fac27c004ba2a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"device_temperature\":23,\"illuminance\":212,\"illuminance_lux\":212,\"linkquality\":15,\"occupancy\":true,\"power_outage_count\":7,\"voltage\":3205}",
        "payloadType": "json",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "93516902a9710e4b",
                "733cb852b36322d3"
            ]
        ]
    },
    {
        "id": "3af28997.d3b346",
        "type": "bigtimer",
        "z": "3e2bdc26.d4977c",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "5004",
        "endtime": "5000",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-45",
        "endoff": "-10",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "f1044ed7.a30d48"
            ],
            [],
            []
        ]
    },
    {
        "id": "532fe589.009294",
        "type": "poll-state",
        "z": "3e2bdc26.d4977c",
        "name": "",
        "server": "7a554823.e94b48",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "weather.home",
        "state_type": "str",
        "halt_if": "snowy",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "3af28997.d3b346",
                "d8213001d2320437"
            ],
            [
                "d8213001d2320437"
            ]
        ]
    },
    {
        "id": "3af1544b.ba03dc",
        "type": "server-state-changed",
        "z": "3e2bdc26.d4977c",
        "name": "",
        "server": "7a554823.e94b48",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sun.sun",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 200,
        "wires": [
            [
                "f1044ed7.a30d48",
                "cd07eda2922984e7"
            ],
            []
        ]
    },
    {
        "id": "f1044ed7.a30d48",
        "type": "api-call-service",
        "z": "3e2bdc26.d4977c",
        "name": "",
        "server": "7a554823.e94b48",
        "version": 1,
        "debugenabled": false,
        "service": "turn_on",
        "entityId": "light.living_room_light_lamp_2",
        "data": "",
        "dataType": "jsonata",
        "mustacheAltTags": false,
        "output_location": "",
        "output_location_type": "none",
        "service_domain": "light",
        "mergecontext": "",
        "x": 830,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d8213001d2320437",
        "type": "debug",
        "z": "3e2bdc26.d4977c",
        "d": true,
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd07eda2922984e7",
        "type": "debug",
        "z": "3e2bdc26.d4977c",
        "d": true,
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "f7fa4569f3501202",
        "type": "poll-state",
        "z": "3e2bdc26.d4977c",
        "name": "",
        "server": "7a554823.e94b48",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "15",
        "updateIntervalType": "num",
        "updateIntervalUnits": "seconds",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "halt_if": "snowy",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "cd07eda2922984e7"
            ],
            [
                "cd07eda2922984e7"
            ]
        ]
    },
    {
        "id": "464dcf63c95738d3",
        "type": "inject",
        "z": "3e2bdc26.d4977c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "2188213ceb4fbc64"
            ]
        ]
    },
    {
        "id": "2188213ceb4fbc64",
        "type": "api-current-state",
        "z": "3e2bdc26.d4977c",
        "name": "",
        "server": "c2dff347.6d813",
        "version": 3,
        "outputs": 2,
        "halt_if": "dupa",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "weather.home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "6",
        "forType": "num",
        "forUnits": "seconds",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "407283c2e86b1906"
            ],
            [
                "eef67cd50c842017"
            ]
        ]
    },
    {
        "id": "407283c2e86b1906",
        "type": "debug",
        "z": "3e2bdc26.d4977c",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "eef67cd50c842017",
        "type": "debug",
        "z": "3e2bdc26.d4977c",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 540,
        "wires": []
    },
    {
        "id": "ac50380556a62f9a",
        "type": "mqtt in",
        "z": "497313bae368cffb",
        "name": "",
        "topic": "zigbee2mqtt/PIR_SNZB-03_02",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "7a8df6b07aa0262c"
            ]
        ]
    },
    {
        "id": "eef48e620186b63d",
        "type": "mqtt in",
        "z": "497313bae368cffb",
        "name": "",
        "topic": "zigbee2mqtt/PIR_SNZB-03_01",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "7a8df6b07aa0262c"
            ]
        ]
    },
    {
        "id": "e8f77b7c5d8cd17b",
        "type": "mqtt in",
        "z": "497313bae368cffb",
        "name": "",
        "topic": "zigbee2mqtt/PIR_Aqara_01",
        "qos": "0",
        "datatype": "json",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "7a8df6b07aa0262c"
            ]
        ]
    },
    {
        "id": "7a8df6b07aa0262c",
        "type": "switch",
        "z": "497313bae368cffb",
        "name": "occupancy",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "cda0c6826309adb6"
            ],
            []
        ]
    },
    {
        "id": "cda0c6826309adb6",
        "type": "change",
        "z": "497313bae368cffb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3600",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 120,
        "wires": [
            [
                "b2aeb863462c101a"
            ]
        ]
    },
    {
        "id": "b2aeb863462c101a",
        "type": "countdown",
        "z": "497313bae368cffb",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "10",
        "resetWhileRunning": true,
        "outputOnReset": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": true,
        "x": 970,
        "y": 120,
        "wires": [
            [
                "30b13dc40742c370"
            ],
            []
        ]
    },
    {
        "id": "b8253e36d64828fb",
        "type": "mqtt out",
        "z": "497313bae368cffb",
        "d": true,
        "name": "",
        "topic": "zigbee2mqtt/Bulb_Ikea_02/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1894,
        "y": 163,
        "wires": []
    },
    {
        "id": "676bc57d374ccf3d",
        "type": "mqtt out",
        "z": "497313bae368cffb",
        "d": true,
        "name": "",
        "topic": "zigbee2mqtt/Bulb_Ikea_01/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1894,
        "y": 121,
        "wires": []
    },
    {
        "id": "afd370d6729f0f7e",
        "type": "mqtt out",
        "z": "497313bae368cffb",
        "d": true,
        "name": "",
        "topic": "cmnd/sonoff_smartswitch01/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1914,
        "y": 204,
        "wires": []
    },
    {
        "id": "55f238a16166a01a",
        "type": "mqtt out",
        "z": "497313bae368cffb",
        "d": true,
        "name": "Kids Room Ceiling Light",
        "topic": "zigbee2mqtt/RELAY_BASICZBR3/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1874,
        "y": 244,
        "wires": []
    },
    {
        "id": "30b13dc40742c370",
        "type": "switch",
        "z": "497313bae368cffb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 114,
        "wires": [
            [
                "7e3f583ee1281f60"
            ]
        ]
    },
    {
        "id": "7e3f583ee1281f60",
        "type": "change",
        "z": "497313bae368cffb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 120,
        "wires": [
            [
                "2379fa079eaeaafd",
                "6ff6fca09dc2d874",
                "73b4118966e013a6",
                "327bd5511648aad6"
            ]
        ]
    },
    {
        "id": "2379fa079eaeaafd",
        "type": "function",
        "z": "497313bae368cffb",
        "d": true,
        "name": "isPowerON?",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1614,
        "y": 120,
        "wires": [
            [
                "676bc57d374ccf3d"
            ]
        ]
    },
    {
        "id": "6ff6fca09dc2d874",
        "type": "function",
        "z": "497313bae368cffb",
        "d": true,
        "name": "isPowerON?",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1614,
        "y": 163,
        "wires": [
            [
                "b8253e36d64828fb"
            ]
        ]
    },
    {
        "id": "73b4118966e013a6",
        "type": "function",
        "z": "497313bae368cffb",
        "d": true,
        "name": "isPowerON?",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1614,
        "y": 203,
        "wires": [
            [
                "afd370d6729f0f7e"
            ]
        ]
    },
    {
        "id": "327bd5511648aad6",
        "type": "function",
        "z": "497313bae368cffb",
        "d": true,
        "name": "isPowerON?",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1614,
        "y": 243,
        "wires": [
            [
                "55f238a16166a01a"
            ]
        ]
    },
    {
        "id": "464c3061dafb2630",
        "type": "mqtt in",
        "z": "497313bae368cffb",
        "name": "",
        "topic": "tele/sonoff_smartswitch01/STATE",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ea2a9db3d9d7fd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "6e5c235d8a2db346"
            ]
        ]
    },
    {
        "id": "6e5c235d8a2db346",
        "type": "function",
        "z": "497313bae368cffb",
        "name": "Set Power Status",
        "func": "const globalVarName = 'sonoff_smartswitch01';\nnode.warn(msg.payload);\nconst globalVarValue = {    \n    \"isPowerOn\" : false\n};\nif (msg.payload.POWER === 'ON') {\n    globalVarValue.isPowerOn = true;    \n} else if (msg.payload.POWER === 'OFF') {\n    globalVarValue.isPowerOn = false;\n} else {\n    node.error('Wrong payload [' + msg.payload + ']');\n}\n\nglobal.set(globalVarName, globalVarValue);    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e6afadf433511e",
        "type": "debug",
        "z": "7ea9894b62d00340",
        "d": true,
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 160,
        "wires": []
    },
    {
        "id": "29d8b5f36082c1f6",
        "type": "subflow:47ad76887e14580c",
        "z": "7ea9894b62d00340",
        "name": "",
        "env": [
            {
                "name": "PIR_TOPIC",
                "value": "zigbee2mqtt/PIR_SNZB-03_02",
                "type": "str"
            },
            {
                "name": "PIR_TIMEOUT",
                "value": "9",
                "type": "num"
            }
        ],
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "a0e6afadf433511e",
                "90c10a8f204e2451"
            ],
            [
                "e0be4e7ced6b1f95",
                "c705edd9ba8dd828"
            ]
        ]
    },
    {
        "id": "c162f74487f12375",
        "type": "inject",
        "z": "7ea9894b62d00340",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":72,\"occupancy\":true,\"tamper\":false,\"voltage\":3000}",
        "payloadType": "json",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "29d8b5f36082c1f6"
            ]
        ]
    },
    {
        "id": "3c1fc5e2ac471393",
        "type": "inject",
        "z": "7ea9894b62d00340",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":72,\"occupancy\":false,\"tamper\":false,\"voltage\":3000}",
        "payloadType": "json",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "29d8b5f36082c1f6"
            ]
        ]
    },
    {
        "id": "e0be4e7ced6b1f95",
        "type": "debug",
        "z": "7ea9894b62d00340",
        "d": true,
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 260,
        "wires": []
    },
    {
        "id": "fe0d2b9f395b1070",
        "type": "inject",
        "z": "7ea9894b62d00340",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "67cad71bb08fe35c"
            ]
        ]
    },
    {
        "id": "67cad71bb08fe35c",
        "type": "function",
        "z": "7ea9894b62d00340",
        "name": "function 1",
        "func": "if (msg.payload) {\n    return [null, msg];\n}\nmsg.payload = false\nreturn [null, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 420,
        "wires": [
            [
                "a0e6afadf433511e"
            ],
            [
                "e0be4e7ced6b1f95"
            ]
        ]
    },
    {
        "id": "d8e1773d5bd79dd6",
        "type": "inject",
        "z": "7ea9894b62d00340",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "300",
        "payloadType": "num",
        "x": 636,
        "y": 480,
        "wires": [
            [
                "67cad71bb08fe35c",
                "e79873fd26ea8662",
                "e805ea5850506f2f"
            ]
        ]
    },
    {
        "id": "c705edd9ba8dd828",
        "type": "trigger",
        "z": "7ea9894b62d00340",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 1760,
        "y": 300,
        "wires": [
            [
                "cb29fa7852062a3d"
            ],
            [
                "90c10a8f204e2451"
            ]
        ]
    },
    {
        "id": "90c10a8f204e2451",
        "type": "debug",
        "z": "7ea9894b62d00340",
        "name": "Bulb",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb29fa7852062a3d",
        "type": "debug",
        "z": "7ea9894b62d00340",
        "d": true,
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 160,
        "wires": []
    },
    {
        "id": "e79873fd26ea8662",
        "type": "change",
        "z": "7ea9894b62d00340",
        "name": "Set night light",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"state\": \"ON\",\t   \"brightness\": $flowContext('BULB'),\t   \"color_temp\": \"neutral\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e805ea5850506f2f",
        "type": "function",
        "z": "7ea9894b62d00340",
        "name": "function 2",
        "func": "// $flowContext('BULB')\nconst val = flow.get(\"BULB\");\nflow.set(\"BULB\", val + 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 480,
        "wires": [
            [
                "f8369892f5363b29"
            ]
        ]
    },
    {
        "id": "f8369892f5363b29",
        "type": "debug",
        "z": "7ea9894b62d00340",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 480,
        "wires": []
    },
    {
        "id": "977942da69aabce4",
        "type": "mqtt out",
        "z": "f64a7df3a8ba2723",
        "name": "",
        "topic": "zigbee2mqtt/Bulb_Ikea_01/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea2a9db3d9d7fd8",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "65f85629453552c6",
        "type": "subflow:47ad76887e14580c",
        "z": "f64a7df3a8ba2723",
        "name": "",
        "env": [
            {
                "name": "PIR_TOPIC",
                "value": "zigbee2mqtt/PIR_SNZB-03_02",
                "type": "str"
            },
            {
                "name": "PIR_TIMEOUT",
                "value": "8",
                "type": "num"
            }
        ],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "eb06be76b7b1719e",
                "070d02c174c06030"
            ],
            [
                "6a7ad8625e3e889b"
            ]
        ]
    },
    {
        "id": "510941dc8d113f2a",
        "type": "inject",
        "z": "f64a7df3a8ba2723",
        "name": "Inject occupancy true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":72,\"occupancy\":true,\"tamper\":false,\"voltage\":3000}",
        "payloadType": "json",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "65f85629453552c6"
            ]
        ]
    },
    {
        "id": "8ca5c9a67ed23524",
        "type": "inject",
        "z": "f64a7df3a8ba2723",
        "name": "Inject occupancy false",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"battery\":100,\"battery_low\":false,\"linkquality\":72,\"occupancy\":false,\"tamper\":false,\"voltage\":3000}",
        "payloadType": "json",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "65f85629453552c6"
            ]
        ]
    },
    {
        "id": "eb06be76b7b1719e",
        "type": "debug",
        "z": "f64a7df3a8ba2723",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "17d85e623d5135dc",
        "type": "debug",
        "z": "f64a7df3a8ba2723",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "6a7ad8625e3e889b",
        "type": "trigger",
        "z": "f64a7df3a8ba2723",
        "name": "",
        "op1": "",
        "op2": "{\"state\":\"OFF\",\"transition\":10}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "8",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "90770fddc6bb1d12",
                "977942da69aabce4"
            ]
        ]
    },
    {
        "id": "90770fddc6bb1d12",
        "type": "debug",
        "z": "f64a7df3a8ba2723",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "070d02c174c06030",
        "type": "subflow:c36763b8799fc77d",
        "z": "f64a7df3a8ba2723",
        "name": "",
        "env": [
            {
                "name": "BRIGHTNESS",
                "value": "150",
                "type": "num"
            }
        ],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "17d85e623d5135dc",
                "977942da69aabce4"
            ],
            [
                "17d85e623d5135dc",
                "977942da69aabce4"
            ]
        ]
    }
]